body {
    background-color: lightgrey;
}

h1 {
    color: darkblue;
}



#campaign-container {
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    flex-flow: row nowrap;
}

#constituents-container {
    
}

